* {
  padding: 0;
  margin: 0;
}

html {
  scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar {
  display: none;
}


body {
  overflow-x: hidden;
}

.main-div {
  height: 57vh;
  min-width: 581px;
  padding-bottom: 4.3rem;
  background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
}

.header-div {
  width: 88%;
  display: flex;
  z-index: 1000;
  max-height: 12rem;
  min-width: 701px;
  -webkit-box-align: center;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  font-size: 1rem;
  height: 9.12em;
  position: fixed;
  padding-left: 6em;
  padding-right: 6em;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

.main-logo {
  height: 25px;
  margin-left: -20px;
}

.menu-toggle {
  z-index: 999;
  width: 2.78em;
  height: 2.09em;
  background: none;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-flexbox;
  display: inline-flex;
  margin-top: 0.699em;
  color: #4831d4;
}


/* MENU BUTTON */
.container {
  cursor: pointer;
  display: flex;
}
svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
  transform: rotate(90deg);
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
/* MENU BUTTON */

.inner-content-primary {
  height: 250px;
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: calc(9.12em);
  padding: 0 10rem;
  font-family: "Arimo", sans-serif;
}

.full-stack-developer {
  color: #ccf381;
  font-weight: 900;
  font-size: 50px;
  width: 300px;
}

.main-smaller-words {
  width: 370px;
  margin-top: 20px;
  color: #fff;
  font-size: 1.015em;
  line-height: 1.5;
}

.main-low-words {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 90px;
  height: 50px;
  width: 450px;
}

.low-words {
  width: calc(50% - 1.731em);
  font-size: 0.715em;
  color: #ccf381;
  line-height: 1.5;
}

.main-picture-div {
  top: 15%;
  width: 40em;
  height: 45%;
  right: -4.3em;
  position: absolute;
}

.my-picture {
  height: 300px;
}

.second-main-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Arimo", sans-serif;
  background-color: #F9F9F9;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  padding-top: 40px;
}

.second-sub-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.second-sub-div-two {
  width: 100%;
  display: flex;
  justify-content:end;
  margin-top: 80px;
}

.moving-gears-css {
  height: 200px;
  margin-left: 350px;
}

.drawing-guy-css {
  height: 300px;
  margin-right: 350px;
}

.second-words-div {
  color: #4831d4;
  width: 300px;
  margin-left: 175px;
  line-height: 1.2em;
}

.second-words-div-two {
  color: #4831d4;
  width: 300px;
  margin-right: 235px;
  line-height: 1.2em;
}

.second-title-word {
  font-size: 65px;
  font-weight: 900;
  margin-bottom: 35px;
}

.second-small-words {
  font-size: large;
  color: #64457F;
  line-height: 25px;
}

.third-main-div {
  background-color: #4831d4;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arimo", sans-serif;
}

.third-sub-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.third-words-div {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.third-title-words {
  color:#ccf381;
  font-size: 50px;
  font-weight: 900;
}

.third-small-words {
  color: #F9F9F9;
  margin-top: 10px;
  line-height: 1.45em;
  font-size: small;
}

.third-gif-programmer {
  display: flex;
  height: 450px;
  margin-left: 200px;
}

.fourth-main-div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arimo", sans-serif;
  background-color: #F9F9F9;
}

.fourth-content-div {
  height: 500px;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 30px;
  box-sizing: border-box;
}

.fourth-title-words {
  color:#4831d4;
  font-size: 40px;
  font-weight: 900;
  width: 250px;
}

.fourth-small-words {
  margin-top: 20px;
  font-size: 20px;
  color: #64457F;
  width: 250px;
}

.fourth-button {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 2px;
  box-sizing: border-box;
  color: #4831d4;
  cursor: pointer;
  display: inline-block;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  letter-spacing: 0;
  line-height: 1em;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border-style: solid;
  border-color: #4831d4;
}

.fourth-button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  display: flex;
  backface-visibility: hidden;
  background-color: #4831d4;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  align-items: center;
  justify-content: center;
  content:"LET'S GO! :)";
  height: 100%;
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.fourth-button:hover {
  color: #FFFFFF;
}

.fourth-button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.fourth-button:after {
  background-color: #FFFFFF;
}

.fourth-button span {
  z-index: 1;
  position: relative;
}

.fifth-main-div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: "Arimo", sans-serif;
}

.fifth-main-send {
  color:#4831d4;
  font-weight: 900;
  font-size: xx-large;
}

.fifth-smaller-words {
  margin: 20px 0px 70px 0px;
  color:#64457F;
  font-size: larger;
  width: 350px;
  text-align: center;
}

.fifth-user-div {
  display: flex;
  flex-direction: column;
  color:#64457F;
}

.fifth-main-input-div {
  display: flex;
  flex-direction: row;
  width: 700px;
}

.fifth-input-div {
  display: flex;
  flex-direction: column;
  margin: 0px 30px 0px 30px;
}

.fifth-message-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.fifth-input-margin {
  margin-top: 20px;
}

.fifth-label {
  font-size: small;
}

.col-3 {
  float: left; 
  width: 100%; 
  margin: 40px 3%; 
  position: relative;
}

input[type="text"],
input[type="email"] {
  font: 15px/24px "Lato", Arial, sans-serif; 
  color: #333; 
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;
}

.effect-1 {
  border: 0; 
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
  outline: none;
}

.effect-1 ~ .focus-border { 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #4831d4;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: 100%; 
  transition: 0.4s;
}

.fifth-submit-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fifth-button {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 2px;
  box-sizing: border-box;
  color: #4831d4;
  cursor: pointer;
  display: inline-block;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  letter-spacing: 0;
  line-height: 1em;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border-style: solid;
  border-color: #4831d4;
}

.fifth-button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  display: flex;
  backface-visibility: hidden;
  background-color: #4831d4;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  align-items: center;
  justify-content: center;
  content:"SEND IT NOW!";
  height: 100%;
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.fifth-button:hover {
  color: #FFFFFF;
}

.fifth-button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.fifth-button:after {
  background-color: #FFFFFF;
}

.sixth-main-div {
  height: 50vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-color: #3D155F;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 15px/24px "Lato", Arial, sans-serif; 
  color:#b3d86d;
}

.sixth-links-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  margin-left: 200px;
}

.sixth-links-words {
  font-size: larger;
  margin-top: 20px;
  cursor: pointer;
  width: 97px;
  color: #b3d86d;
  text-decoration: none;
}

.sixth-footer-div {
  width: 80%;
  height: 80px;
  box-shadow: 0 -1px 0 #b3d86d;
  margin-top:100px;
  padding: 20px;
  font-size: larger;
  display: flex;
  flex-direction: row;
}

.sixth-footer-words {
  margin-right: auto;
}

.sixth-link-images {
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

div.slide-left p {
  width:100%;
  overflow:hidden;
}
div.slide-left p {
  animation: 1s slide-down;
  margin-top:0%;
}

@keyframes slide-left {
  from {
    margin-left: -100%;
    height: 300%; 
  }

  to {
    margin-left: 0%;
    height: 100%;
  }
}

div.slide-down {
  width:100%;
  overflow:hidden;
}
div.slide-down p {
  animation: 1s slide-down;
  margin-top:0%;
}

@keyframes slide-down {
  from {
    margin-top: -100%;
    height: 300%; 
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}

.no-text-decoration {
  text-decoration: none;
}

@media screen and (min-height: 600px) and (max-height: 900px) {

  .inner-content-primary {
    height: 250px;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 9.12em;
    margin-left: -80px;
    padding: 0 10rem;
    font-family: "Arimo", sans-serif;
  }

  .main-picture-div {
    top: 17%;
    width: 40em;
    height: 45%;
    right: -3.3em;
    position: absolute;
  }

  .my-picture {
    height: 280px;
  }

  .full-stack-developer {
    color: #ccf381;
    font-weight: 900;
    font-size: 40px;
    width: 500px;
  }
  
  .main-smaller-words {
    width: 350px;
    margin-top: 20px;
    color: #fff;
    font-size: 1.3em;
    line-height: 1.5;
  }
  
  .main-low-words {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    height: 50px;
    width: 450px;
  }
  
  .low-words {
    width: calc(50% - 1.031em);
    font-size: 0.715em;
    color: #ccf381;
    line-height: 1.5;
  }

  .second-main-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Arimo", sans-serif;
    background-color: #F9F9F9;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    padding-top: 40px;
  }
  
  .second-sub-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -50px;
  }
  
  .second-sub-div-two {
    width: 100%;
    display: flex;
    justify-content:end;
    margin-top: 50px;
  }
  
  .moving-gears-css {
    height: 150px;
    margin-left: 270px;
  }
  
  .drawing-guy-css {
    height: 200px;
    margin-right: 300px;
  }
  
  .second-words-div {
    color: #4831d4;
    width: 400px;
    margin-left: 205px;
    line-height: 1.2em;
  }
  
  .second-words-div-two {
    color: #4831d4;
    width: 500px;
    margin-right: 105px;
    line-height: 1.2em;
    margin-top: 50px;
  }
  
  .second-title-word {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
  }
  
  .second-small-words {
    font-size: small;
    color: #64457F;
    line-height: 25px;
    width: 500px;
  }

  
  .third-main-div {
    background-color: #4831d4;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arimo", sans-serif;
  }

  .third-sub-div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .third-words-div {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .third-title-words {
    color:#ccf381;
    font-size: 30px;
    font-weight: 900;
  }

  .third-small-words {
    color: #F9F9F9;
    margin-top: 10px;
    line-height: 1.45em;
    font-size: small;
  }

  .third-gif-programmer {
    display: flex;
    height: 450px;
    margin: 60px 0px 0px 200px;
  }

  .col-3 {
    float: left; 
    width: 100%; 
    margin: 10px 3%; 
    position: relative;
  }  

  .sixth-main-div {
    height: 70vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color: #3D155F;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 15px/24px "Lato", Arial, sans-serif; 
    color:#b3d86d;
  }
}
